.editor_wrap {
    color: #05a;
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
.editor_context .code::selection{
    background-color: rgba(0,0,0,0.2);
}
.editor_context span::selection{
    background-color: rgba(0,0,0,0.2);
}
.cursor{
    width: 1px !important;
    background-color: #000 !important;
}
.current_line_bg{
	background-color: rgba(0,0,0,0.1);
}
.line_num_bg {
    border-right: 1px solid rgba(0, 0, 0, .2);
    background-color: rgba(0, 0, 0, .1);
}

.line_num {
    color: #999;
}

.key {
    color: #7f0055;
}

.oprator {
    color: #7f0055;
}

.method {
    color: #00f;
}

.comment,
.pair_comment {
    color: #3f7f5f;
}

.string {
    color: #a11;
}

.number {
    color: #164;
}