/*monokai 主题*/

.editor_wrap {
    background-color: #fff;
    font-family: Consolas, Monaco, monospace;
    font-size: 13px;
    line-height: 1.5;
    color: #000;
    letter-spacing: .5px;
}

.editor_wrap textarea {
    user-select: none;
}

.cursor {
    width: 1px !important;
    user-select: none;
    background-color: #000 !important;
}

.current_line_bg {
    user-select: none;
}

.line_num_bg {
    background: #fff;
}

.line_num {
    color: rgba(0,0,0,.3);
}

.line_num.active {
    background-color: rgb(158,207,207);
}

.selection_line_bg {
    background-color: #bad6fd !important;
}


/*关键字*/

.key {
    color: #00f;
}


/*类型*/

.type {
    color: #33f;
}


/*函数执行*/

.function {
    color: #33f;
}

.class {
    color: #33f;
}


/*函数名称*/

.function_name {
    color: #800000;
}


/*函数参数*/

.function_arg {
    color: #000;
}

.tag {
    color: #03c;
}

.tag_attr {
    color: #000;
}


/*内置函数*/

.lib_function {
    color: #33f;
}


/*内置变量*/

.lib_var {
    color: #33f;
}


/*操作符号*/

.oprator {
    color: #800000;
}


/*注释*/

.comment,
.pair_comment {
    color: #008000;
}


/*字符串*/

.string {
    color: #f0f;
}


/*数字*/

.number {
    color: #800080;
}

/*对齐*/
.indent{
    display: inline-block;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAE0lEQVQImWP4////f4bLly//BwAmVgd1/w11/gAAAABJRU5ErkJggg==') right repeat-y;
}
