/*monokai 主题*/

.editor_wrap {
    font-family: Consolas, Monaco, monospace;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: .5px;
    color: #F8F8F2;
    background-color: #272822;
}

.editor_wrap textarea {
    user-select: none;
}

.cursor {
    width: 1px !important;
    user-select: none;
    background-color: #F8F8F0 !important;
}

.current_line_bg {
    user-select: none;
}

.line_num_bg {
    color: #272822;
}

.line_num {
    color: #999;
}

.line_num.active {
    background-color: #3E3D32;
}

.selection_line_bg {
    background-color: #49483E !important;
}


/*关键字*/

.key {
    color: #F92672;
}


/*类型*/

.type {
    color: #66D9EF;
}


/*函数执行*/

.function {
    color: #66D9EF;
}

.class {
    color: #A6E22E;
}


/*函数名称*/

.function_name {
    color: #A6E22E;
}


/*函数参数*/

.function_arg {
    color: #FD971F;
}

.tag {
    color: #F92672;
}

.tag_attr {
    color: #A6E22E;
}


/*内置函数*/

.lib_function {
    color: #66D9EF;
}


/*内置变量*/

.lib_var {
    color: #66D9EF;
}


/*操作符号*/

.oprator {
    color: #F92672;
}


/*注释*/

.comment,
.pair_comment {
    color: #75715E;
}


/*字符串*/

.string {
    color: #E6DB74;
}


/*数字*/

.number {
    color: #AE81FF;
}