/*monokai 主题*/
.subjs-editor-container {
    background-color: #272822;
    color: #f8f8f2;
}
.subjs-insert-cursor {
    background-color: #fff;
}
.subjs-line-num {
    color: #999;
}
.subjs-line-num.active {
    background-color: #3e3d32;
}
.subjs-line-bg {
    background-color: #49483e;
}
.subjs-line.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 1px;
    background-color: #3e3d32;
}
.subjs-line.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 1px;
    background-color: #3e3d32;
}
.subjs-h-scroll-wrap::-webkit-scrollbar,
.subjs-v-scroll-wrap::-webkit-scrollbar {
    background-color: rgb(76, 77, 72);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
.subjs-h-scroll-wrap::-webkit-scrollbar-thumb,
.subjs-v-scroll-wrap::-webkit-scrollbar-thumb {
    background-color: rgb(115, 116, 112);
}

/*关键字*/
.key {
    color: #f92672;
}
/*类型*/
.type {
    color: #66d9ef;
}
.function {
    color: #66d9ef;
}
.class {
    color: #66d9ef;
}
/*函数执行*/
.exec-function {
    color: #66d9ef;
}
/*new对象*/
/* .new-class {
    color: #66d9ef;
} */
/*本地对象*/
.local-var {
    color: #66d9ef;
}
/*函数名称*/
.function-name {
    color: #a6e22e;
}
/*类名称*/
.class-name {
    color: #a6e22e;
}
/*函数参数*/
.function-arg {
    color: #fd971f;
}
.this {
    color: #fd971f;
}
.tag {
    color: #f92672;
}
.tag-attr {
    color: #a6e22e;
}
/*内置函数*/
.lib-function {
    color: #66d9ef;
}
/*内置变量*/
.lib-var {
    color: #66d9ef;
}
/*操作符号*/
.oprator {
    color: #f92672;
}
/*注释*/
.comment,
.pair-comment {
    color: #75715e;
}
/*字符串*/
.pair-string,
.single-quotation-string,
.double-quotation-string {
    color: #e6db74;
}
/*数字*/
.number {
    color: #ae81ff;
}